/* Section 2 CSS */

.sectionHeader {
  line-height: 35px;
}

.w1 {
  font-size: 24px;
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  color: rgb(0, 180, 204);
}

p {
  line-height: 26px;
}

.w2 {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: rgb(52, 56, 56);
}

.sectionHeader {
    line-height: 35px;
}

.s2 {
  font-size: 24px;
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  color: rgb(0, 180, 204);
}

.w3 {
  font-family: '&quot;Open Sans&quot';
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}

.s3 {
  color: rgb(52, 56, 56);
}

.hh {
  text-align: center;
  line-height: 45px;
}

.core {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 36px;
  color: rgb(0, 180, 204);
}

.col-md-8.offset-md-2 {
  left:150px;
}

h5 {
  color: rgb(52, 56, 56);
  font-size: 28px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.s4 {
  text-align: justify;
}

.card-1 {
  margin-bottom: 40px;
}

.card-2 {
  margin-bottom: 40px;
}

a .btn.btn-magnify.btn-lg.btn-round {
  border-color: #FB6900;
}

.element {
  color: rgb(52, 56, 56);
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-style: normal;
}

#bn {
  background: #f0f0f0;
  margin-top: 8px;
  margin-bottom: 9px;
  border-color: #FB6900;
  color: #343838;
  padding-left: 50px;
  padding-right: 50px;
}

#bn:hover  {
  border-color: #FB6900;
}

.element {
  color: #343838;
}

.Section3 {
  background-color: #343838;
}

.wrapper1 {
  background-color: #343838;
  padding-bottom: 0px;
}

.nc-icon {
  color: #FB6900;
  font-weight: 600;
}

.cardwrap {
  margin-left: 230px;
}

.landing-section {
  padding-bottom: 0px;
}

.bottom-card {
  margin-right: 160px;
}
