
/* NAVBAR */
#navagation {
  background-color: #1a2323;
  color: #1a2323;
}

.section.landing-section {
  background-color: #1a2323;
}

.logo {
  width: 250px;
}

@media (min-width: 768px)
.navbar-nav {
    float: right;
    margin: 0;
}
