
/* NAVBAR */
#navagation {
  background-color: #1a2323;
  color: #1a2323;
}

.section {
  background-color: #1a2323;
}

.logo {
  width: 250px;
  height: 41px;
}

@media (min-width: 768px)
.navbar-nav {
    float: right;
    margin: 0;
}

.header-1 {
  background-color: #1a2323;
  padding-top: 0px;
}

.navbar.navbar-transparent {
  padding-top: 1px;
}

.navbar-nav.ml-auto {
  padding-left: 350px;
}

.img-1 {
  height: 368px;
  width: 500px;
  float: left;
}

.title {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 49px;
  float: right;
  color: #fff;
}

.h5.description {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 48px;
  float: right;
  color: #fff;
  position:relative;
  margin-top: 100px;
  color: #fff;
}

span {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 300;
  font-style: normal;
}

.lp-element.lp-pom-text.nlh {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  position:static;
}

.col-lg-10.offset-md-1 {
  position: relative;
  margin-left: 330px;
  bottom: 105px;
}

.gitlogo {
  height: 20px;
};

gitlogo {
  background-color: #1a2323;
  color: #1a2323;
}

a.btn.btn-magnify.btn-lg.btn-round.btn-danger {
  margin-left: 20px;
  color: #fff;
}

#navbarDropdownMenuLink {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding-top: 4px;
  padding-left: 4px;

}
