
/* NAVBAR */
#navagation {
  background-color: #1a2323;
  color: #1a2323;
}

.section {
  background-color: #1a2323;
}

.logo {
  width: 250px;
  height: 41px;
}

@media (min-width: 768px)
.navbar-nav {
    float: right;
    margin: 0;
}

.header-1 {
  background-color: #1a2323;
  padding-top: 0px;
}

.navbar.navbar-transparent {
  padding-top: 1px;
}

.navbar-nav.ml-auto {
  padding-left: 350px;
}

.img-1 {
  height: 368px;
  width: 500px;
  float: left;
}

.title {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 48px;
  float: right;
  color: #fff;
}

.h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 49px;
  float: right;
  color: #fff;
  position:relative;
  margin-top: 100px;
}
